FORMAT: 1A  
HOST: https://microclimates.com

# Climate Conrol API

The Microclimates Climate Control API lets you connect
with external products and services, eliminating built-in constraints, and extending
functionality to the limits of your imagination.

Your devices. Your data. On your terms.

When connected with vendor APIs and services like <a href="https://ifttt.com" target="_blank">IFTTT</a>, 
your favorite developer or 
<a href="https://www.microclimates.com/professional-services" target="_blank">professional services</a>
team can build custom integrations, consolidating previously disconnected systems into one.

A live preview for developers is hosted on 
<a href="https://microclimates.docs.apiary.io" target="_blank">microclimates.docs.apiary.io</a>

# Authorization

All API interactions must be authorized by passing
the account API token in the HTTP Authorization header.

```
Authorization: Bearer {API Token}
```

This token is available in the Account Settings section within the Microclimates 
application under <i>API Key</i>.

Example:

<pre><code>Authorization: Bearer eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009</code></pre>

# Security

The API processes only HTTPS requests, securing the content from
observation while traveling over the network. 

The resource ID and request parameters may be part of the URL, but all resource
data is passed in the request/response body, as to not get logged on the server. 

If you feel your API token has been compromised, the  token can be revoked and replaced
within the Microclimates application.

# Requests

<h2>Request Headers</h2>

The following (case insensitive) request headers are recognized

**authorization** - (see Authorization section above)  
**content-type** - Describes the format of the request body. One of `application/json` or `application/x-www-form-urlencoded`  
**accept-encoding** - Supplied if your client accepts gzip, deflate, etc. encoding  
**if-none-match** - Supplied on *GET* requests if you want a `304 - Not Modified` response if the content hasn't changed. The value is that of a prior `etag` response header value. This improves performance by not transferrng the response body if it's the same as a prior request.  

<h2>Request Body</h2>

The format of data supplied in the request body is based on the `Content-Type` header
 (see above).

**Example: applicaton/json**
```
{
    "id": "some-resource-id",
    "name":"Resource Name",
    ...
}
```

JSON data may be, but is not required to be pretty printed as in the above example.

**Example: application/x-www-form-urlencoded**
```
id=some-resource-id&name=Resource%20Name
```

# Responses

<h2>Status Codes</h2>

**The following codes indicate success:**

**200** *OK* - Everything went according to plan, and the results are as documented.  
**304** *Not Modified* - No body returned. Used in conjunction with the `if-none-match` request header.

**The following codes indicate an error.** They return an error body vs. the documented body, for the following reasons

**400** *Bad Request* - The request fails a precondition and was rejected. Reason indicated in the body.  
**401** *Unauthorized* - Authorization header not supplied, or supplied with an invalid token.  
**404** *Not Found* - The resource requested by ID is not found in the system.  
**500** *Internal Server Error* - Oh crap - something bad happened on our end. You might find something useful in the response body.  
**501** *Not Implemented* - Coming soon to an API near you.  
**503** *Bad Gateway* - The cloud servers are having a problem connecting with the on-site edge server.  

<h2>Response Headers</h2>

**content-encoding** - Supplied if the content was encoded, as requested by the `accept-encoding` request header.  
**content-length** - Byte count of the content body  
**content-type** - The content type response. Usually `appliction/json; charset-utf-8`  
**date** - The timestamp that the request arrived  
**etag** - A unique value representing the content of this response. If this value is supplied in a subsequent `if-none-match` request header and the content hasn't changed, the response code will be `304 - Not Modified`.  
**status** - The respons status code (see above)  
**vary** - A value that may be supplied, informing network caches how this content varies so they can quickly respond to similar requests.  
**x-request-id** - A unique identifier for this request. If a request fails, this can be used to help trace the problem from server logs.  
**x-response-time** - The amount of time this request took for the server to process.  
**Access-Control-Allow-Origin** - Set to `*` to allow cross domain browser requests.  
**Access-Control-Allow-Headers** - Set to `Authorization, Cookie` to allow authorization.  
**Access-Control-Allow-Methods** - Set to `GET, POST, PUT, DELETE` to allow all API requests.  

<h2>Response Body</h2>

**Successful** API calls are documented in the API below.

**Unsuccessful** API calls (status code 400 or higher) have the following format. Clients should be capable of managing the different response body formats based on the response status code.
```
{
  "name": "Unauthorized",
  "statusCode": 401,
  "message": "HTTP 401 Unauthorized",
  "timestamp": "2018-08-19T18:05:17.480Z",
  "requestId": "f14d156c-5e90-4457-aaa6-d8f6757b07ba",
  "meta": {
    "warnings": [],
    "moreInfo": []
  }
}
```

# Accounts [/api/v2/accounts]
Account - *Information associated with an individual that interacts with the system*

## Read an account profile [GET /api/v2/accounts/{accountId}]
## Read an account profile <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/accounts/read-an-account-profile?console=1">Try it</a>
Returns the account profile for the specified ID. 

+ Parameters
    + accountId: `1e46f669-cf98-4d04-8d19-34fd93feea19` (string, required) - The account resource id
+ Request
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200 (application/json)
    + Attributes (Account)

## Read account profiles [GET /api/v2/accounts]
## Read account profiles <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/accounts/read-account-profiles?console=1">Try it</a>

Returns an array of account profiles. This will return a single account profile of the person making the request. It's useful if you have an Authorization token, but don't have the account ID.
+ Request
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200 (application/json)
    + Attributes (Accounts)

## Update an account profile [PUT /api/v2/accounts/{accountId}]
## Update an account profile <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/accounts/update-an-account-profile?console=1">Try it</a>

Updates your account profile. Most attributes can be updated, but not all. The `body` can contain 
a subset of attributes to update, or all attributes.

The resource /{accountId} must be the ID associated with the Authentication token.

+ Parameters
    + accountId: `1e46f669-cf98-4d04-8d19-34fd93feea19` (string, required) - The account resource id
+ Request
    + Attributes (Account)
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200 (application/json)
    + Attributes (Account)

## Delete an account [DELETE /api/v2/accounts/{accountId}]
## Delete an account <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/accounts/delete-an-account?console=1">Try it</a>

**Be very careful with this one.** If you delete yourself, that will be the last API call you're
able to make. You will be removed from all sites, and will have to be re-invited. Your account id and
API keys will be different, even if you're invited with the same email address.

The resource /{accountId} must be the ID associated with the Authentication token.

+ Parameters
    + accountId: `1e46f669-cf98-4d04-8d19-34fd93feea19` (string, required) - The account resource id
+ Request
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200

# Sites [/api/v2/sites]
Site - *A physical installation with managed devices.* All sites are associated with a *site server*,
also known as an *edge server*, responsible for managing devices, accounts, and security for the location.

## Read available sites [GET /api/v2/sites]
## Read available sites <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/sites/read-available-sites?console=1">Try it</a>

Returns all sites authorized for the account, as specified in the Authorization token.

This request is served without directly contacting the site servers.

+ Request
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200 (application/json)
    + Attributes (array [Site Summary])

## Read site information [GET /api/v2/sites/{siteId}]
## Read site information <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/sites/read-site-information?console=1">Try it</a>

Returns site details for the account. This request is made to the site server.

+ Parameters
    + siteId: `a908` (string, required) - The ID of the site
+ Request
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200 (application/json)
    + Attributes (Site)

## Leave a site [DELETE /api/v2/sites/{siteId}]
## Leave a site <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/sites/leave-a-site?console=1">Try it</a>

This requests the account specified by the Authorization token to leave the site.
Once an account owner has left a site, they must be invited back in.

+ Parameters
    + siteId: `a908` (string, required) - The ID of the site
+ Request
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200

# Invitations [/api/v2/invites]
Invitation - *A request to invite a person to a site*. Sites are accessible by invite only.

## Send an invitation [POST /api/v2/invites]
## Send an invitation <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/invitations/send-an-invitation?console=1">Try it</a>

Send an email invitation to join a site. This includes the security role for the individual 
and a custom message from the sender, so the recipient knows it didn't originate from a robot.

+ Request
    + Attributes (Invite)
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200

## Review an invitation [GET /api/v2/invites/{inviteId}]
## Review an invitation <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/invitations/review-an-invitation?console=1">Try it</a>

This is used by the person being invited as a way to see who invited them, and into which
site they're being invited into.

This request may accept authorization, and if given it must match the credentials of 
the person being invited, or the person that created the invitation.

+ Parameters
    + inviteId: `some-long-uuid` (string, required) - The invite ID, generated during POST.
+ Response 200 (application/json)
    + Attributes (Invite)

## Accept an invitation [PUT /api/v2/invites/{inviteId}]
## Accept an invitation <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/invitations/accept-an-invitation?console=1">Try it</a>

This is used by the person being invited upon accepting the invite. It creates the user
account if necessary, and associates the account with the site.

This request may accept authorization, and if given it must match the credentials of 
the person being invited.

Invitations that have not been accepted within a few days of creation will be invalidated.

+ Parameters
    + inviteId: `some-long-uuid` (string, required) - The invite ID, generated during POST.
+ Request
    + Attributes (Invite)
    + Headers

            Authorization: Basic eb4b8e6c-0e51-4f96-bec2-1e5b1a9b2009
+ Response 200 (application/json)
    + Attributes (Invite)

## Cancel an invitation [DELETE /api/v2/invites/{inviteId}]
## Cancel an invitation <a class="tryit hidden" target="_blank" href="https://microclimates.docs.apiary.io/#reference/0/invitations/cancel-an-invitation?console=1">Try it</a>

This is used to cancel an existing inviation. It can be initiated by the person making
the invitation, or by the person being invited as a way of canceling the invitation request.

This request may accept authorization, and if given it must match the credentials of 
the person being invited, or the person that created the invitation.

+ Parameters
    + inviteId: `some-long-uuid` (string, required) - The invite ID, generated during POST.
+ Response 200

# Data Structures

## Account (object)
+ id: `3627cc99-d839-4684-bd78-8322703b273f` (string)
    The unique account identifier, used in subsequent PUT or DELETE calls.
+ firstName: `John` (string, required)
+ lastName: `Jones` (string)
+ email: `jjones84@gmail.com` (string, required)
+ phone: `402 889-8765` (string)
    Mobile phone number (North America only)
+ avatarUrl: `https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50` (string)
    This starts out as a gravatar URL, and can be changed by uploading an avatar.

## Accounts (array [Account])

## UserRole (enum[number])
+ 0 - Guest (custom authority)
+ 1 - Monitor (read only)
+ 2 - Controller (read and control)
+ 3 - Admin (administer site)
+ 4 - Owner (site owner)

## Site Summary (object)
+ id: `a908` (string)
    The unique identifier, to be used as siteId in site related API requests.
+ name: `Indoor Farm North` (string)
    Name given to the site by the site owner.
+ role: `2` (UserRole)
    The users site security role (0:guest, 1:monitor, 2:controller, 3:admin, 4:owner)

## Site (object)
+ id: `a908` (string)
    The unique identifier, to be used as siteId in site related API requests.
+ name: `Indoor Farm North` (string)
    Name given to the site by the site owner.
+ role (UserRole)
    The primary role of the requester (0:guest, 1:monitor, 2:controller, 3:admin, 4:owner)
+ menu (array [Menu Item])
    The list of menu items available to the requester

## Menu Item (object)

+ id: `clone-room-one` (string, required)
    A unique identifier across all menu items
+ name: `Clone Room` (string, required)
    The menu item display name
+ icon: `location` (string)
    An icon name as enumerated in the [ionicons](https://ionicframework.com/docs/ionicons/) page.
+ slug: `clone-room-one` (string)
    Required for **webpage** type menu items. This is the unique URL slug for the web page.
+ url: `https://my-site.com/clone-room-one` (string)
    Required for **webpage** type menu items. The URL to navigate to for this menu item.
+ hubId: `d8Je` (string)
    Required for **dashboard** type menu items. This is the site ID.
+ dashId: `clone-room` (string)
    Required for **dashboard** type menu items. This is the dashboard DB name.
+ page: `account-settings` (string)
    For *internal page* menu items. This directs to an internal page in the UI.
+ modalpage: `account-settings` (string)
    For *internal page* menu items. Same as above, only opens as a modal page vs. root page.
+ items (array [Menu Item], required)
    Array of menu sub-items if this item is a menu category. Zero length array if this is a leaf menu item.

## Invite (object)
+ id: `3627cc99-d839-4684-bd78-8322703b273f` (string)
    The unique invite identifier. Generated on the server.
+ siteId: `a908` (string, required)
    ID of the site being invited into.
+ siteName: `Indoor Farm North` (string)
    Site name. Provided for convenience on GET.
+ invitedBy: `Mary Maker` (string)
    Invitation created by. Provided for convenience on GET.
+ role (UserRole, required)
    The security role of the account for this site. (0:guest, 1:monitor, 2:controller, 3:admin, 4:owner)
+ firstName: `Johnny` (string, required)
    First name of the person being invited.
+ lastName: `Jones` (string)
    Last name of the person being invited.
+ email: `jjones84@gmail.com` (string, required)
    Email address of the invitee.
+ message: `Come see what we're doing here.` (string)
    Personal message to send to the person being invited.
